body {
    font-size: 10pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
}

h1 {
    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display:inline-flex;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    background-color: #0c72f798;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #0c72f7d7;
}
